/* Calorie Tracking Section styles */
.calorie-tracking {
    background-color: #2b2828;
    padding: 40px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calorie-tracking h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

/* Exercise Logging Section styles */
.exercise-logging {
    background-color: #fff;
    padding: 40px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.exercise-logging h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

/* Goal Tracking Section styles */
.goal-tracking {
    background-color: #fff;
    padding: 40px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.goal-tracking h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

/* Educational Resources Section styles */
.educational-resources {
    background-color: #fff;
    padding: 40px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.educational-resources h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

/* Login/Sign Up Section styles */
.login {
    background-color: #fff;
    padding: 40px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}
